/* default presentation for mobile devices, portrait orientation */
html, body {
  min-height: 90vh;
  max-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: 'Avenir Next', 'HelveticaNeue-Light', 'Helvetica Neue', 'Helvetica, Arial, san-serif';
  font-size: 1.0em;
}

.hidden {
  display: none;
}

a.right-accessory-view {
  color: #FFFFFF!important;
  font-weight: 500!important;
  text-decoration: none;
  font-size: 1.5em;
}

.left-accessory-view {
  background-color: #4B93E0;
  color: #FFFFFF;
  font-size: 12px;
}

.left-accessory-view > :first-child {
  font-size: 20px;
}

/*
.right-accessory-view {
  margin: 0 3px;
  font-size: 16px;
  text-decoration: none;
  color: #888888;
  outline: 0;
}
*/

:valid::after {
  /* content: "✓"; */
  /* padding-left: 5px; */
}

:invalid::after {
  color: red;
  content: "✖";
  padding-left: 5px;
}

a.external::after {
  margin: 0 3px 0 10px;
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  text-decoration: underline;
}

a:active, a:hover, a:visited, a:link .edit::after {
  content: " \270E";
  text-decoration: underline;
}

a:active, a:hover, a:visited, a:link .view::after {
  content: " \1F519";
  text-decoration: underline;
}

label.radioLabel {
  background-color: #f0f8ff;
  margin: .25em .25em .25em 0em;
  padding: .25em 0em .25em .25em;
  border-radius: .5em;
}

span.addEstate {
  display: inline-block;
  width: 45%;
  margin: auto;
  position: relative;
  text-align: left;
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

span.addPerson {
  display: inline-block;
  width: 45%;
  margin: auto;
  position: relative;
  text-align: left;
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

span.delEstate {
  display: inline-block;
  width: 50%;
  position: relative;
  right: 0px;
  margin-bottom: 10px;
  text-align: right;
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

h1 { font-size: 1.5em; }
h2 {
  font-size: 1.4em;
  font-weight: 400;
}
h3 {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 0px;
}
h4 {
  font-size: 1.0em;
  font-weight: 400;
  margin-top: .25em;
  margin-bottom: .25em;
}

.smallem {
  font-style: italic;
  font-size: .9em;
}

a#skipnav {
  position: absolute;
  top: -1000px;
}

article > p {
}

nav.small-landscape-nav {
  display: none;
}

div.grid-layout {
  min-height: 90vh;
  max-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
}

div.grid-header {
  display: inherit;
  grid-row-start: 1;
  grid-row-end: 2;
}

div.grid-content {
  display: inherit;
  grid-row-start: 2;
  grid-row-end: 3;
}

div.grid-footer {
  display: inherit;
  grid-row-start: 3;
  grid-row-end: 4;
}

.header-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
  grid-template-rows: auto;
}

header {
  max-width: 100%;
  position: relative;
  top: 0px;
  background: #f9f9f9;
  color: #4c4c4c;
}

header span.hamburger {
  display: block;
}

.hamburger::before {
  content: "\002630";
  font-size: 2.5em;
  margin: 0px 0px 0px 15px;
}

header > span.hamburger::after {

}

header > h1 {
  /* display: none!important; */
}

header > div > picture > img {
  max-width: 100%;
}

header > h1 {
  display: block;
  text-align: -webkit-auto;
  position: relative;
  /* margin-left: -25%; */
  left: -10%;
}
header > h1 > a:active, a:visited, a:link {
  color: black;
  position: relative;
  /* margin-left: 33%; */
  text-align: center;
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

header> div#menu-layer {
  z-index: 1006;
  position: absolute;
  background-color: #f9f9f9;
  width: max-content;
  top: 65px;
  left: 1em;
  padding-left: 1.5em;
  
}

.menuLayerBorder {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: solid 1px darkgray;
  border-right: solid 1px darkgray;
  border-bottom: solid 1px darkgray;
}

header > * > ul.header-links {
  list-style: none;
  display: none;
  grid-column-start: 2;
  position: relative;
  left: -19%;
  margin-top: -5px;
}

header > * > ul > li {
  line-height: 2.25em;
}

header > ul > li > a {
  text-decoration: none;
  color: #4c4c4c;
}

header > ul > li > a:hover {
  color: #08f;
  text-decoration: underline;
}

header > ul > li > a:active {
  color: #08f;
  text-decoration: underline;
}

header > p {
  margin-top: 5px;
  margin-left: 5px;
}

fieldset {
  padding-left: 2px;
  padding-right: 2px;
}

legend {
  font-size: larger;
  font-weight: 500;
}

form[id=search] input {
  display: block;
}

label[for=searchBoxId]#large {
  display: none;
  font-size: 1.125em;
  font-weight: 500;
}

label[for=searchBoxId]#small {
  display: inline-block;
  font-size: 1.15em;
  font-weight: 500;
}

input[type=search] {
  font-size: 1.0em;
  width: 100%;
}

form[id=search] input[type=submit] {
  margin-right: 0px;
  margin-left: auto;
  font-size: 1.125em;
}

input, select {
  margin-bottom: 10px;
}

section.main {
  padding: 2px 5px;
}

/*div.previousPier {
  display: inline-block;
  width: 45%;
  margin: auto;
  position: relative;
  text-align: left;
}

div.nextPier {
  display: inline-block;
  width: 50%;
  position: relative;
  right: 0px;
  text-align: right;
}*/

div.nextPier {
  display: inline-block;
  width: 45%;
  margin: auto;
  position: relative;
  text-align: left;
}

div.previousPier {
  display: inline-block;
  width: 50%;
  position: relative;
  right: 0px;
  text-align: right;
}

a[rel="prev"] {
  float: left;
}

div.previousBusiness, div.previousPublic, div.previousSwim, div.previousAssocs {
  display: inline-block;
  width: 45%;
  margin: auto;
  position: relative;
  text-align: left;
}

div.nextBusiness, div.nextPublic, div.nextSwim, div.nextAssocs {
  display: inline-block;
  width: 50%;
  position: relative;
  right: 0px;
  text-align: right;
}

div#searchResults {
  overflow-y: auto;
  max-height: 50vh;
  margin-bottom: 25px;
}

div#searchResults > ul.searchResults:before {
  content:attr(aria-label);
  font-size: 100%;
  font-weight: 400;
  margin-left: -15px;
}

.poiButtons {
  margin-bottom: 1em;
  text-align: center;
}

.access {
  background-color: lightyellow;
  border: 1px solid white;
}
.accessOn {
  background-color: lightgoldenrodyellow;
  font-weight: 500;
  border: 1px solid black;
}

span#access:before {
  content: url('/i/access.png');
  zoom: 20%;
  vertical-align: sub;
  padding-right: .25em;
}

span#access {
  cursor: pointer;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 1px;
  padding-right: 5px;
  padding-left: 4px;
  margin-bottom: 1em;
  margin-right: .25em;
  font-size: .80em;
  display: none;
}

.food {
  background-color: lightgreen;
  border: 1px solid white;
}
.foodOn {
  background-color: palegreen;
  font-weight: 500;
  border: 1px solid black;
}

span#food:before {
  content: url('/i/food.png');
  zoom: 20%;
  vertical-align: sub;
  padding-right: .25em;
}

span#food {
  cursor: pointer;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 1px;
  padding-right: 5px;
  padding-left: 4px;
  margin-bottom: 1em;
  margin-right: .25em;
  font-size: .80em;
  display: none;
}

.restrooms {
  background-color: lightblue;
  border: 1px solid white;
}
.restroomsOn {
  background-color: skyblue;
  font-weight: 500;
  border: 1px solid black;
}

span#restrooms:before {
  content: url('/i/restroom.png');
  zoom: 20%;
  vertical-align: sub;
  padding-right: .25em;
}

span#restrooms {
  cursor: pointer;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 1px;
  padding-right: 5px;
  padding-left: 4px;
  margin-bottom: 1em;
  margin-right: .25em;
  font-size: .80em;
  display: none;
}

.landmarks {
  background-color: lightpink;
  border: 1px solid white;
}
.landmarksOn {
  background-color: pink;
  font-weight: 500;
  border: 1px solid black;
}

span#landmarks:before {
  content: url('/i/landmark.png');
  zoom: 20%;
  vertical-align: sub;
  padding-right: .25em;
}

span#landmarks {
  cursor: pointer;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 1px;
  padding-right: 5px;
  padding-left: 4px;
  margin-bottom: 1em;
  margin-right: .25em;
  font-size: .80em;
  display: none;
}

ul.owners > li > ul.owners:before {
  content:attr(aria-label);
  font-weight: 500;
  margin-left: -30px;
  font-style: italic;
}

ul.location {
  list-style: none;
  margin: 5px 0px;
}

ul.location > li {
  position: relative;
  left: -25px;
}

ul.owners {
  margin: 5px 0px 0px 0px;
}

ul.owners > li {
  list-style: none;
  margin: 0px 0px 10px 0px;
  position: relative;
  left: -30px;
}

:nth-child(odd of div.editOwner) {
  padding-top: 5px;
  margin-bottom: 5px;
}

:nth-child(even of div.editOwner) {
  padding-top: 5px;
  background-color: #f9f9f9;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
}

:nth-child(even of ul.owners > li) {
  background-color: #f9f9f9;
  border-bottom: 1px solid lightgrey;
}

h3#owners ~ p {
  margin: 0px 0px; 
}

.emphasis {
  font-family: cursive;
  /* font-style: italic; */
}

.estateName {
  font-style: italic;
  font-size: 1.125em;
}

section.map {
  padding-left: 0px;
}

div#map {
  width: 100%;
  height: 600px;
  background-image: url('../i/gridtile-dark.png');
}

footer {
  width: 100%;
  padding: 0px 0px;
  margin: 0px auto;
}

footer > section {
  padding-left: 1em;
}

/* Mobile devices with screen orientation: landscape */
@media screen and (orientation: landscape) {
  div.grid-layout {
    display: grid;
    grid-template-rows: 1fr 25px;
    /* grid-template-columns: minmax(10%, 50%) auto;*/
    grid-template-columns: auto auto;
  }
  
  div.grid-header {
    display: none;
    /*
    display: inherit;
    min-height: 90vh;
    max-height: 100vh;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    */
  }
  
  div.grid-content {
    display: inherit;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  div.grid-footer {
    display: none;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .header-grid {
    display: inherit;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    column-gap: 0px;
  }

  nav.small-landscape-nav {
    display: inline-block;
    width: 100vw;
  }

  nav > ul.nav-links-inline {
    list-style: none;
    position: relative;
    padding-left: 0px;
    width: auto;
    text-align: center;
  }
  
  nav > ul > li {
    font-size: 0.55em;
    padding: 4px;
    margin: 1px 2px 0px 0px;
    background-color: #F0F0F0;
    line-height: 1.0em;
    display: inline;
  }
  
  nav > ul > li > a {
    text-decoration: none;
    color: #4c4c4c;
  }
  
  nav > ul > li > a:hover {
    color: #08f;
    text-decoration: underline;
  }
  
  nav > ul > li > a:active {
    color: #08f;
    text-decoration: underline;
  }

  header {
    width: 5.6em;
    height: 100%;
  }

  header span.hamburger {
    display: none;
  }

  .hamburger::before {
    content: "\002630";
    font-size: 2.5em;
    margin: 0px 0px 0px 15px;
  }

  header > span.hamburger::after {

  }

  header > h1 {
    display: none!important;
  }

  header > * > ul.header-links {
    list-style: none;
    display: block;
    grid-row-start: 2;
    grid-column-start: 1;
    position: relative;
    left: -10%;
    margin-top: 0px;
    overflow: scroll;
  }

  .grid-content article section {
    display: inline-block;
  }

  section.main {
    display: inline-block;
    width: 30vw;
    padding-left: 5px;
    overflow-y: scroll;
    max-height: 85vh;
  }

  label[for=searchBoxId]#large {
    display: none;
    font-size: 1.125em;
    font-weight: 500;
  }
  
  label[for=searchBoxId]#small {
    display: inline-block;
    font-size: 1.15em;
    font-weight: 500;
  }

  div#searchResults {
    overflow: auto;
    height: 65vh;
  }

  div#searchResults ul {
    padding-left: 20px;
  }

  ul#resultsList {
    padding-left: 20px;
  }

  .poiButtons {
    margin-bottom: 1em;
    text-align: inherit;
  }

  section.map {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 0px;
    width: 63vw;
  } 

 div#map {
    height: 85vh;
    max-height: 81vh;
    min-width: 50vw;
  }

  label[for=searchBoxId]#large {
    display: none;
  }

  label[for=searchBoxId]#small {
    display: inline-block;
  }
}

/* iPhone 6/7/8/SE size */
@media screen and (max-width: 389px) {
  nav.small-landscape-nav {
    display: none;
  }

  label[for=searchBoxId]#small {
    display: inline-block;
    font-size: 1.09em;
    font-weight: 500;
  }

  label[for=searchBoxId]#large {
    display: none!important;
  }
}

/* iPad sizes */
@media screen and (min-width: 768px) and (max-width: 1180px) {
  nav.small-landscape-nav {
    display: none;
  }


}

/* Desktop sizes */
@media screen and (min-width: 1181px) {
  div.grid-layout {
    min-height: 90vh;
    max-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
  }
  
  div.grid-header {
    display: inherit;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
   div.grid-content {
    /* display: inherit; */
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  div.grid-footer {
    display: inherit;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .header-grid {
    display: inherit;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
  }
  
  nav.small-landscape-nav {
    display: none;
  }

  header {
    width: auto;
  }

  header span.hamburger {
    display: block!important;
    cursor: pointer;
  }

  .hamburger::before {
    content: "\002630";
    font-size: 2.5em;
    margin: 0px 0px 0px 15px;
  }

  header > h1 {
    display: block!important;
    text-align: -webkit-auto;
    position: relative;
    /* margin-left: 0%; */
    left: 1em;
  }

  header > h1 > a:active, a:visited, a:link {
    color: black;
    text-align: center;
    max-width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-weight: 300;
  }

  header > * > ul.header-links {
    list-style: none;
    display: none;
    grid-column-start: 2;
    position: relative;
    left: -3%!important;
    margin-top: -5px;
  }

  header > * > ul > li {
    line-height: 2.25em;
    display: inline-block;
    margin-right: 20px;
  }

  .grid-content article section {
    display: inline-block;
  }

  section.main {
    display: inline-block;
    width: 33vw;
    padding-left: 10px;
    max-height: 88vh;
    overflow-y: scroll;
  } 

  label[for=searchBoxId]#large {
    display: block!important;
  }

  label[for=searchBoxId]#small {
    display: none;
  }
  div#searchResults {
    overflow-y: auto;
    max-height: 60vh!important;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

 .poiButtons {
    margin-bottom: 1em;
    text-align: inherit;
  }
 section.map {
    display: inline-block;
    vertical-align: top;
    padding-top: 25px;
    width: 63vw;
  }

  div#map {
    min-height: 81vh;
  }
}
