html, body {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: 'Avenir Next', 'HelveticaNeue-Light', 'Helvetica Neue', 'Helvetica, Arial, san-serif';
  font-size: 1.0em;
}

h1 { font-size: 1.5em; }
h2 {
  font-size: 1.4em;
  font-weight: 400;
}
h3 {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 0px;
}
h4 {
  font-size: 1.0em;
  font-weight: 400;
}

.smallem {
  font-style: italic;
  font-size: .9em;
}

a#skipnav {
  position: absolute;
  top: -1000px;
}

div.grid-layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
}

div.grid-header {
  display: inherit;
  grid-row-start: 1;
  grid-row-end: 2;
}

div.grid-content {
  display: inherit;
  grid-row-start: 2;
  grid-row-end: 3;
}

div.grid-footer {
  display: inherit;
  grid-row-start: 3;
  grid-row-end: 4;
}

.header-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
  grid-template-rows: auto;
}

header {
  max-width: 100%;
  position: relative;
  top: 0px;
  background: #f9f9f9;
  color: #4c4c4c;
}

.hamburger:before {
  content: "\002630";
  font-size: 2.5em;
  margin: 0px 0px 0px 15px;
}

header > div > picture > img {
  max-width: 100%;
}

header > h1 {
  display: block;
  text-align: -webkit-auto;
}
header > h1 > a:active,
header > h1 > a:visited, 
header > h1 > a:link {
  color: black;
  text-align: center;
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

header > ul.header-links {
  list-style: none;
  display: none;
  grid-column-start: 2;
  position: relative;
  left: -10%;
  margin-top: -5px;
}

header > ul > li {
  line-height: 2.25em;
}

header > ul > li > a {
  text-decoration: none;
  color: #4c4c4c;
}

header > ul > li > a:hover {
  color: #08f;
  text-decoration: underline;
}

header > ul > li > a:active {
  color: #08f;
  text-decoration: underline;
}

header > p {
  margin-top: 5px;
  margin-left: 5px;
}

section.main {
  padding-left: 10px;
}

div.previousPier {
  display: inline-block;
  width: 45%;
  margin: auto;
  position: relative;
  text-align: left;
}

div.nextPier {
  display: inline-block;
  width: 50%;
  position: relative;
  right: 0px;
  text-align: right;
}

ul.location {
  list-style: none;
  margin: 5px 0px;
}

ul.location > li {
  position: relative;
  left: -25px;
}

ul.owners {
  margin: 5px 0px 0px 0px;
}

ul.owners > li {
  list-style: none;
  margin: 0px 0px 10px 0px;
  position: relative;
  left: -30px;
}

:nth-child(even of ul.owners > li) {
  background-color: #f9f9f9;
  border-bottom: 1px solid lightgrey;
}

h3#owners ~ p {
  margin: 0px 0px; 
}

.emphasis {
  font-family: cursive;
  /* font-style: italic; */
}

.estateName {
  font-style: italic;
  font-size: 1.125em;
}

section.map {
  padding-left: 0px;
}

div#map {
  width: 100%;
  height: 500px;
  background-color: lightblue;
}

footer {
  width: 100%;
  padding: 0px 0px;
  margin: 0px auto;
}

footer > section {

}

@media screen and (max-width: 935px) and (orientation: landscape) {
  header {
    width: 5.6em;
    height: 100%;
  }

  header > h1 {
    display: none;
  }

  div#map {
    width: auto;
    height: 75%;
    background-color: darkblue;
  }
}

/* iPhone 6/7/8 Plus size */
@media screen and (max-width: 414px) {

}

/* iPad sizes */
@media screen and (min-width: 768px) and (max-width: 1180px) {

}

/* Desktop sizes */
@media screen and (min-width: 1181px) {
  header > ul > li {
    line-height: 2.25em;
    display: inline-block;
    margin-right: 20px;
  }

}
