<header>
  <a id="skipnav" href="#main-content">Skip to main content</a>
  <div id="masthead">
    <picture>
      <source media="(max-width: 420px)" srcset="/i/glp-header-430w.png" />
      <source media="(min-width: 421px) and (max-width: 767px)"
              srcset="/i/glp-header-768w.png" />
      <img src="/i/glp-header-430x.png" alt="Geneva Lake Piers" />
    </picture>
  </div>
    <h1><a href="/"><%= appName %></a></h1>
    <p>The piers of Geneva Lake, Wisconsin.</p> 
    
</header>
