<header>
  <span class="hamburger"></span>
  <h1 style="display: inline-block;"><a href="/"><%= appName %></a></h1>
  <ul class="header-links">
    <li><a href="/towns/city-of-lake-geneva">City of Lake Geneva</a></li>
    <li><a href="/towns/town-of-linn">Town of Linn</a></li>
    <li><a href="/towns/village-of-williams-bay">Village of Williams Bay</a></li>
    <li><a href="/towns/village-of-fontana-on-geneva-lake">Village of Fontana-on-Geneva-Lake</a></li>
    <li><a href="/towns/town-of-walworth">Town of Walworth</a></li>
  </ul>
  <script nonce="<%= nonce %>">
    const hammy = document.querySelector('span.hamburger')
    hammy.addEventListener('click', (e) => {
      const links = document.querySelector('ul.header-links')
      let toggle = links.style.display
      console.log(toggle)
      if (toggle === 'none' || toggle === '' || toggle === undefined) {
          links.style.display = 'block'
      } else {
          links.style.display = 'none'
      }
    })
  </script>
</header>
<% if (isAuthenticated) { %>
<p><a href="/logout">Logout</a></p>
<% } else { %>
<p><a href="/login">Login</a></p>
<% } %>
