<header>
  <a id="skipnav" href="#main-content">Skip to main content</a>
  <div id="masthead">
    <picture>
      <source media="(max-width: 420px)" srcset="/i/glp-header-430w.png" />
      <source media="(min-width: 421px) and (max-width: 768px)" srcset="/i/glp-header-768w.png" />
      <source media="(min-width: 768px) and (max-width: 1180px)" srcset="/i/glp-header-1180w.png" />
      <source media="(min-width: 1181px)" srcset="/i/glp-header-wide.png" />
      <img src="/i/glp-header-430w.png" alt="Geneva Lake Piers" />
    </picture>
  </div>
    <h1><a href="/"><%= appName %></a></h1>
    <p>The piers of Geneva Lake, Wisconsin.</p> 
    <% if (isAuthenticated) { %>
    <p><a href="/logout">Logout</a></p>
    <% } else { %>
    <p><a href="/login">Login</a></p>
    <% } %>
</header>
