<!DOCTYPE html>
<html lang="en">
  <head>
    <%# document head %>
    <%- await include('./partials/head.ejs') -%>
    <%# document head %>
  </head>
  <body>
    <a id="skipnav" href="#main-content">Skip to main content</a>
    <div class="grid-layout">
      <div class="grid-header">
        <%# header %>
        <%- await include('./partials/body-header-lite.ejs') -%>
        <%# header end %>
      </div>

      <div class="grid-content" id="main-content">
        <%# main %>
        <%- body %>
        <%# main end %>
      </div>

      <div class="grid-footer">
        <%# footer %>
        <%- await include('./partials/body-footer-lite.ejs') -%>
        <%# footer end %>
      </div>
    </div>
  </body>
</html>
